.data.line {
  fill: none;
  vector-effect: non-scaling-stroke;
}

.data.line.cb {
  stroke-width: 1px;
  stroke-dasharray: 7px;
  stroke: #888;
}

.cb.area {
  fill: #111;
}

.axis text {
  fill: #ccc;
}

.axis path,
line {
  stroke: #222;
}

.grid line {
  stroke: #151515;
}

.grid path {
  stroke-width: 0px;
}

.chartBody {
  fill: none;
  pointer-events: all;
}

.halvingsline {
  vector-effect: non-scaling-stroke;
  stroke: #555;
}

/* Cursor styles */
#xZoomRect {
  cursor: ew-resize !important;
}
#yZoomRect {
  cursor: ns-resize !important;
}

/* Crosshair style */
.crosshair {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 2px, 2px;
  pointer-events: none;
}

/* Crosshair xy labels */
.xTextBox.bg,
.yTextBox.bg {
  fill: #333;
}

.xTextBox.text,
.yTextBox.text {
  font-size: 12px;
  fill: #ddd;
  text-anchor: middle;
  font-weight: bold;
}

.cyclesline.bear {
  fill: #ff0000;
}

.cyclesline.bull {
  fill: #00ff00;
}

/* D3-Legend */
.legendCells .label, 
.chartTitle {
  fill: #aaa;
  font-family: "Open Sans";
  font-size: 12px;
}

.legendTitle {
  fill: #aaa;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 13px;
}