.data.line {
  fill: none;
  vector-effect: non-scaling-stroke;
}

.axis text {
  fill: #fff;
}

.axis path,
line {
  stroke: #222222;
}

.grid line {
  stroke: #222222;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0px;
}

#chart {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #0d0d0d;
  cursor: crosshair;
}

.chartBody {
  fill: none;
  pointer-events: all;
}

/* Crosshair style */
.crosshair {
  stroke: #333333;
  stroke-width: 1px;
  stroke-dasharray: 2px, 2px;
  pointer-events: none;
}

/* Crosshair xy labels */
.xTextBox.bg,
.yTextBox.bg {
  fill: #4c525e;
}

.xTextBox.text,
.yTextBox.text {
  font-size: 13px;
  fill: #fff;
  text-anchor: middle;
}
